.curriculum{
    width: 100%;
    color: $success;
    border-color: $primary;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    @include media-breakpoint-up(lg){
        display: table;
    }
    >:not(caption)>*>*{
        padding: 8px 4px;
        background-color: #fff;
        border-bottom-width: 1px;
    }
    th{
        border-right-width: 1px;
    }
    td:nth-child(2n+1){
        background: $secondary;
    }
}