.banner{
  height: 560px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true");
  background-position: bottom;
  background-size: cover;
  @include media-breakpoint-up(md){
    height: 582px;
  }
  &-title{
    font-size: 28px;
    @include media-breakpoint-up(md){
      font-size: 36px;
    }
  }
  &-subTitle{
    font-size: 20px;
    @include media-breakpoint-up(md){
      font-size: 24px;
    }
  }
}
.bodyAndMind{
  &-img{
    height: 420px;
    border-radius: 16px;
    @include media-breakpoint-up(md){
      height: 252px;
    }
    @include media-breakpoint-up(lg){
      height: 420px;
    }
  }
}
.teachers{
  .teaching-img{
    width: 100%;
    height: 628px;
  }
  .teacher-img{
    width: 48px;
    height: 48px;
    @include media-breakpoint-up(md){
      width: 68px;
      height: 68px;
    }
  }
  .teacher-card{
    transition: all .5s;
    @include media-breakpoint-up(md){
      &:hover{
        width: 100%;
        margin-left: 0;
      }
    }
    @include media-breakpoint-up(lg){
      &:hover{
        margin-left: -95px;
      }
    }
  }
  .card{
    padding: 16px;
    @include media-breakpoint-up(md){
      padding: 24px 0px 24px 32px;
      &:hover{
        padding: 40px 0px 40px 48px;
      }
    }
  }
}
.comfortableSpace{
  &-mainImg{
    height: 210px;
    @include media-breakpoint-up(md){
      height: 266px;
    }
    @include media-breakpoint-up(lg){
      height: 444px;
    }
  }
  &-subImg{
    height: 210px;
    width: 100%;
    @include media-breakpoint-up(md){
      height: 117px;
      width: 90px;
    }
    @include media-breakpoint-up(lg){
      height: 207px;
      width: 160px;
    }
  }
}
.design{
  &-img{
    width: 100%;
    height: 165px;
    @include media-breakpoint-up(md){
      width: 150px;
      height: 150px;
    }
  }
}
.program{
  &-img{
    height: 240px;
  }
}