.hambergur-icon{
    width: 44px;
    height: 44px;
}
.footer{
    &-subTitle{
        font-size: 24px;
        @include media-breakpoint-up(md){
            font-size: 28px;
        }
    }
}
.position-md-absolute{
    @include media-breakpoint-up(md){
        position: absolute;
        transform: translateX(-50%);
    }
}