.course-introduction-img{
    width: 100%;
    height: 218px;
    @include media-breakpoint-up(md){
        height: 341px;
    }
}
.course-img{
    width: 100%;
    height: 196px;
}
.course-time{
    position: absolute;
    top: -15px;
    left: 24px;
    padding: 4px 16px;
    border-radius: 16px;
}