.border-radius {
    border-radius: 16px;
}
.z-index-1030 {
    z-index: 1030;
}
.fz-xl {
    font-size: 3rem;
}
.fz-l{
    font-size: 2.25rem;
}
.top-25 {
    top: 25%;
}
.w-100{
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50{
    width: 50%;
}
.w-25 {
    width: 25%;
}
.cursor {
    cursor: pointer;
}
.input-placeholder-primary {
    &::placeholder {
        color: $primary;
    }
}
.arrow {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        border: 9px solid;
        border-top-color: $success;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}
@include media-breakpoint-up(md) {
    .w-md-50{
        width: 50%;
    }
    .w-md-75 {
        width: 75%;
    }
}
@include media-breakpoint-up(lg) {
    .w-lg-50 {
        width: 50%;
    }
    .w-lg-75{
        width: 75%;
    }
}
